* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans';
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
  font-weight: 500 800;
}

:root {
  --primary-red: hsl(1, 90%, 64%);
  --primary-blue: hsl(219, 85%, 26%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-vlight-grayish-blue: hsl(210, 60%, 98%);
  --neutral-light-grayish-blue1: hsl(211, 68%, 94%);
  --neutral-light-grayish-blue2: hsl(205, 33%, 90%);
  --neutral-grayish-blue: hsl(219, 14%, 63%);
  --neutral-dark-grayish-blue: hsl(219, 12%, 42%);
  --neutral-vdark-grayish-blue: hsl(224, 21%, 14%);
}

body {
  background-color: var(--neutral-vlight-grayish-blue);
}

img {
  height: 2.5rem;
  width: auto;
}

.notifs__container {
  border-radius: 10px;
  box-shadow: var(--neutral-light-grayish-blue1) 0 2px 8px;
  background-color: var(--neutral-white);
  transform: translate(-50%, -50%);
  width: 48%;
  padding: 1.5rem 1rem 0.5rem 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
}

.notifs__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.notifs__header > h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.notifs__header > h1 > span {
  font-weight: 500;
  font-size: 15px;
  background-color: var(--primary-blue);
  color: var(--neutral-white);
  padding: 4px 9px;
  margin-left: 5px;
  border-radius: 5px;
}

.notif-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem;
}

.notif-item b {
  font-weight: 800;
}

.notif-item__content {
  display: flex;
  flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
